$checkbox-base-color: #f5deb2;
 
  .card {
    display:flex;
    justify-content: space-between;
    padding: 10px;
    margin: 5px;
    background: $checkbox-base-color;
    cursor: pointer;
    border: 1px solid lightgray;
    &:hover {
      background: darken($checkbox-base-color, 10);
    }  
    .checkbox-styled {
    display: flex; 
    align-items:flex-start;
    margin: 10px 0 0 0;
    float: left;
    //Normal State
    input[type="checkbox"] {
      position: relative;
        + span {
            text-transform: uppercase;
            color: black;
            font-size: 15px;
            text-align: center;
            min-height: 127px;
            cursor: pointer;
            display: block;
            margin: 0 auto;
            position: relative;
            padding: 10px;
           .param {
            margin-top: 7px;
           }
        }
        &:checked {
            + span {
                background: darken($checkbox-base-color, 20);
              }
            }
          }   
        }
      }